{% extends "template.html" %}
{% block title %} TF2 Mercenary Database {% endblock %}

{% block content %}

<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">TF2 Mercenary Database</h1>
            <h2 class="masthead-subheading mb-0">Meet the Team!</h2>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/scout.jpg" alt="Scout" /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Scout</h2>
                    <p>Fast and agile, the Scout is perfect for capturing objectives and harassing enemies. His double jump and speed make him hard to hit!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/soldier.jpg" alt="Soldier" /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Soldier</h2>
                    <p>The Soldier is versatile and powerful, using rocket launchers to deal heavy damage and rocket jump to reach high places.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/pyro.jpg" alt="Pyro" /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Pyro</h2>
                    <p>Pyro brings the heat with a flamethrower, perfect for close-range combat and area denial. Watch out for the flames!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}